.border{
	/*border: 1px solid #ebebeb;*/
}
body{
   
	
	font-style:italic;
}
.bg{
	padding-top: 70px;
	height: 800px;
	/*background-image: url('../images/cloud.jpg');*/
	background: url('https://source.unsplash.com/FIKD9t5_5zQ/1600x900');
}

@media only screen and (min-width : 1367px) {
	.bg{
		height: 1080px;
		background: url('https://source.unsplash.com/FIKD9t5_5zQ/1600x1080');
	}

}


.login{
	/*color: #ede;*/
	text-align: center;
}
.content{
	min-height: 579px;
}
.logout{
	float: right;
}
.logout:after{
	clear: both;
}
.about{
	font-family: Lato;
	font-weight: 400;
	font-style: italic;
	font-size: 25px;
	color: #655F5F;
}
.footer {
	width: 100%;
  min-height: 40px; 
  height: 2.5em; 
  padding: 1em; 
  text-align: center; 
  /*background: #1A400C; */
  /*background: #080A76;*/
  background: #222;
  background: rgba(34,34,34,.55);
  /*opacity: 0.45;*/
  color: #D7ECFA; 
}
.footer a {
	color: #FAF9F9;
}
.navbar-inverse {
	background-color: rgba(34,34,34,0.7);
	/*opacity: 0.85;*/
}
.navbar-inverse .navbar-brand {
  /*color: #9d9d9d;*/
  color: #C0BEBE;
}
.navbar-inverse {
  /*color: #9d9d9d;*/
	color: #C0BEBE;
	/*color: #fff;*/
}
.footer span, .footer a {
	color: #eee;
}
.navbar-inverse .navbar-nav>li>a {
	color: #bcbcbc;
}