.border{
	/*border: 1px solid #ebebeb;*/
}
body{
	background-image: url('../images/cloud.jpg');
	font-style:italic;
}
.login{
	/*color: #ede;*/
	text-align: center;
}
.content{
	min-height: 579px;
}
.logout{
	float: right;
}
.logout:after{
	clear: both;
}
.about{
	font-family: Lato;
	font-weight: 400;
	font-style: italic;
	font-size: 25px;
	color: #655F5F;
}
.footer {
	width: 100%;
  min-height: 40px; 
  height: 2.5em; 
  padding: 1em; 
  text-align: center; 
  /*background: #1A400C; */
  /*background: #080A76;*/
  background: #222;
  background: rgba(34,34,34,.5);
  /*opacity: 0.45;*/
  color: #D7ECFA; 
}
.footer a {
	color: #FAF9F9;
}
.navbar-inverse {
	background-color: rgba(34,34,34,0.7);
	/*opacity: 0.85;*/
}
.navbar-inverse .navbar-brand {
  /*color: #9d9d9d;*/
  color: #C0BEBE;
}
.navbar-inverse .navbar-text {
  /*color: #9d9d9d;*/
	color: #C0BEBE;
}